/*
font-family: 'Baloo Da 2', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Mulish', sans-serif;
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #552288;
}